<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="post">

<!--    게시글 등록-->
    <insert id="insertPost" parameterType="com.study.post.model.PostDto">
        INSERT INTO post(category_id, name, password, title, content)
        VALUES (#{categoryId}, #{name}, #{password}, #{title}, #{content})
    </insert>

<!--    전체 카테고리id 가져오기-->
    <select id="selectCategoriesId" resultType="int">
        SELECT category_id
        FROM category
    </select>
</mapper>